discord/.config/discord/0.0.21
discord/.config/discord/Cache
discord/.config/discord/Code Cache
discord/.config/discord/Cookies
discord/.config/discord/Cookies-journal
discord/.config/discord/Crash Reports
discord/.config/discord/Dictionaries
discord/.config/discord/GPUCache
discord/.config/discord/Local Storage
discord/.config/discord/Network Persistent State
discord/.config/discord/Preferences
discord/.config/discord/SS
discord/.config/discord/Session Storage
discord/.config/discord/SingletonCookie
discord/.config/discord/SingletonLock
discord/.config/discord/TransportSecurity
discord/.config/discord/modules.log
discord/.config/discord/quotes.json
discord/.config/discord/*.png

